/*UPDATED*/

/* CSS Reset */   
*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

/* CSS variables */
:root{
    --navbar-height: 59px;
}

/* navbar */
#navbar{
    font-family: 'Balsamiq Sans', cursive;
    display: flex;
    align-items: center;
    position:sticky;
    top:0px;   
    left:0px;
/* it is very important to write top:0px if you want to use position sticky */
}

#navbar::before{
    content: " ";
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;;
    position: absolute;
    z-index: -1;
    opacity: 0.7;


    /* An element with position: absolute; is positioned relative to the nearest positioned ancestor (instead of positioned relative to the viewport, like fixed). However; if an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling. */
}


/* Navigation Bar: logo and image */
#logo{
    margin: 10px 30px; /*margin 10 34*/
    
}

#logo img{
    margin:5px 5 px;
    height: 65px;
}




/* Navigation Bar: list styling */
#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    
    font-size: 1.2rem;
}
#navbar ul li a{
   
    color: white;
    padding: 3px 22px;
    border-radius: 20px;
  
text-decoration: none;

 /* remember always give padding in a */
}
#navbar ul li a:hover{
    color:black;
    background-color: white;
    
}




/* Home section */
#home::before{
    content: " ";
    background: url(../bg2.jpg) no-repeat center center /cover;
    position:absolute;
    top: 0px;
    left: 0px;
    height: 513px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

   
#home{
    display:flex;
    flex-direction: column;
    padding: 3px 200px;
    align-items: center;
    justify-content: center;
    height:417px; 
 
   

}

#home h1{
    font-family: 'Balsamiq Sans', cursive;
    color: white ;
    text-align: center;
}
#home p{
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}


/* services-section */

#services{
    display: flex;
    margin: 6px;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 20px;
    border-radius: 23px;
    background-color:#cfcfcf;
    margin-bottom: 25px;

}
#services .box img{
    display: block;  
    margin: auto;
    height: 160px;

 /*remember that you need to do display as block for margin: auto*/
}

#services .box p{
    font-family: 'Balsamiq Sans', cursive;
}



/* clients section */

#client-section::before{
    content: " ";
    background: url('../bg1.jpg') no-repeat center center /cover;
    position:absolute;
    
   height:100%;  /*change*/  
   /*remember use heught=100% for before background so that it covers whole container and it also becomes responsive*/
    width: 100%;
    
    z-index: -1;
    opacity: 0.4;
}

#client-section{
position :relative;  /*change*/
z-index: -2; /*change*/
}

/* EDITING START */

#clients{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;   /*change*/

}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
position: relative;
z-index: 0;
}

#contact::before{
    content: " ";
    background: url('../contact.jpg') no-repeat center center /cover;
    position:absolute;
    
    height: 600px;
    width: 100%;
    
    z-index: -1;
    opacity: 0.5;
}

#contact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:34px ;
}

#contact-box input, #contact-box textarea {
width: 100%;
padding: 0.5rem;
font-size: 1.1rem;
border-radius: 9px;
border: 1px solid gray;
/* text-align: center; */
}

#contact-box input[type="submit"]
{
    cursor: pointer;
}

#contact-box form{
    width: 40%;
}

#contact-box label{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.3rem;
}




/* Footer */

footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}


/* Utility Classes*/
.h-primary{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 3rem;
    padding: 12px;

}

.h-secondary{
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.7rem;
    padding: 12px;
}

.center{
    text-align: center;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: gray;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

